.input {
	width: var(--width);
	height: var(--height);
	padding: 8px 20px;
	border: 1px solid #eeeeee;
	border-radius: 36px;
}

.input:focus,
.input:active {
	outline: none;
	box-shadow: none;
	border-color: #c5c7ca;
}
