.container {
	position: relative;
	width: var(--width);
	height: var(--height);
}

.input {
	width: inherit;
	height: inherit;
	padding: 8px 20px;
	border: 1px solid #eeeeee;
	border-radius: 36px;
}

.paddedInput {
	padding-left: 36px;
}

.input:focus,
.input:active {
	outline: none;
	box-shadow: none;
	border-color: #c5c7ca;
}

.searchIcon {
	position: absolute;
	top: 50%;
	left: 12px;
	width: 18px;
	height: 15px;
	transform: translateY(-50%);
}
